@use './variables' as *;

html,
body {
    all: unset;
    background-color: $bg-page;
    color: $text-primary;
    font-size: 16px;
    line-height: 1.5;
}

body:has(dialog[open]) {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0 1.5rem;
    font-weight: $font-weight-bold;
}

h1 {
    font-size: 2rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.5rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.25rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2.25rem;
    }
}

h4 {
    font-size: 1.125rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2.125rem
    }
}

h5,
h6 {
    font-size: 1rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2rem
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: $text-primary;
    font-weight: $font-weight-normal;
}

label {
    color: $text-primary;
}

img {
    height: 10rem;
    width: 10rem;
    display: block;
    object-fit: cover;
}

.container {
    max-width: 62.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-spacing: 0;
}

th,
tr {
    text-align: left;
}

caption {
    caption-side: bottom;
    text-align: right;
}

thead {
    background-color: $table-header-bg;
}

tbody {
    * {
        font-weight: $font-weight-normal;
    }

    tr:nth-of-type(even) {
        background-color: $table-row-alt;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    padding: 0.5rem 1.25rem;
    border: 1px solid $border-default;
    background: $btn-secondary-bg;
    color: $text-secondary;
    border-radius: 6px;
    font-weight: $font-weight-medium;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background: $bg-row-hover;
        border-color: $border-strong;
    }

    &.active {
        background: $blue-primary;
        color: $text-primary;
        border-color: $blue-primary;
    }
}