footer.site-footer
    .container
        .footer-content-wrapper
            .footer-left
                a.brand(href="/") BBFB
                nav.footer-nav
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/matchups") Matchups
            .footer-right
                h2.external-heading External Sites
                ul.external-links
                    li
                        a(href="https://sleeper.com/" target="_blank" rel="noopener") sleeper.com
                    li
                        a(href="https://www.nfl.com/" target="_blank" rel="noopener") nfl.com
        .footer-bottom
            p &copy; #{new Date().getFullYear()} BBFB. All rights reserved.
