meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

title #{title || "Bleed Blue Fantasy Football"}
link(rel="stylesheet" href="/css/main.css")
script(src="/js/index.js" defer)