.league-select-wrapper
    label(for="league-select") Select League:
    select#league-select(name="select-league")
        each league in allLeagues
            - const leagueId = league.leagueId
            - const season = league.season
            option(
                value=leagueId
                selected=leagueId===currentLeagueId
                )= season