nav.nav-overlay.hidden
    .container
        ul.overlay-links
            li
                a.nav-link(href="/" class=page === 'homepage' ? 'current-page' : '') Home
            li
                a.nav-link(href="/matchups" class=page === 'matchups' ? 'current-page' : '') Matchups
