include ../mixins/bracket.pug

.post-season-container
    include ./league-select.pug

    .bracket-tabs
        button.tab-button.active(data-bracket="winnersBracket") Winners
        button.tab-button(data-bracket="losersBracket") Losers

    section.playoff-bracket
        each bracketType in ['winnersBracket', 'losersBracket']
            - const bracketData = matchups[bracketType]
            .bracket-container(data-bracket-type=bracketType class=bracketType === 'winnersBracket' ? 'active' : '')
                h2= bracketType === 'winnersBracket' ? 'Winners Bracket' : 'Losers Bracket'
                +bracket(bracketData)