include ../mixins/standings-row.pug
header
    h2 #{currentLeagueSeason} Regular Season Standings
div#standings-wrapper
    table
        caption *Standings are based on Regular Season Head-to-Heads
        thead
            tr
                th(scope="col") Team
                th(scope="col") Points For
                th(scope="col") Points Against
                th(scope="col") W/L
        tbody
            each roster in rosters
                +standingsRow(roster)