include ../mixins/icons.pug

.week-select-wrapper
    label.week-select-label(for="week-select") Select Week
    .select-wrapper
        select#week-select(name="select-week")
            - for (let w = 1; w <= 14; w++)
                option(
                    value=w
                    selected=w===currentWeek
                    )= `Week ${w}`
        +iconChevronDown()
