mixin leagueMatchup(matchupData)
    - const homeTeam = matchupData[1]
    - const awayTeam = matchupData[0]
    div.matchup-card
        div.home-team
            h3= homeTeam.team? homeTeam.team : homeTeam.owner
            h4= homeTeam.points
        span vs
        div.away-team
            h3= awayTeam.team ? awayTeam.team : awayTeam.owner
            h4= awayTeam.points