include ./bracket-matchup-card-body.pug
include ./bracket-matchup-modal.pug

mixin bracketMatchupCard(matchup)
    article.matchup-card(data-matchup-id=matchup.bracketMatchupId data-week=matchup.week)
        +bracketMatchupCardBody(matchup)
        +bracketMatchupModal(matchup)