include ./player-list.pug

mixin bracketMatchupModal(matchup)
    - const team1Starting = matchup.t1StartingRoster || [];
    - const team1Bench = matchup.t1BenchRoster || [];
    - const team2Starting = matchup.t2StartingRoster || [];
    - const team2Bench = matchup.t2BenchRoster || [];
    
    dialog.matchup-modal
        button.btn Close
        section.matchups-dialog-wrapper
            article.matchup-card
                +bracketMatchupCardBody(matchup)
            div.rosters-wrapper
                .roster.home-team-players
                    +playerList(team1Starting, 'Starting')
                    +playerList(team1Bench, 'Bench')
                        
                .roster.away-team-players
                    +playerList(team2Starting, 'Starting')
                    +playerList(team2Bench, 'Bench')