mixin matchupCard(match)
    - const homeTeam = match[1];
    - const awayTeam = match[0];
    - const hasTeamName = (t) => t.team ? t.team : t.owner; 
    .matchup-card
        .home-team
            h2= hasTeamName(homeTeam)
            p= homeTeam.points
        span vs
        .away-team
            h2= hasTeamName(awayTeam)
            p= awayTeam.points