mixin matchupCardBody(match)
    - const homeTeam = match[0];
    - const awayTeam = match[1];
    - const hasTeamName = (t) => t.team ? t.team : t.owner;

    .home-team
        h3= hasTeamName(homeTeam)
        p= homeTeam.points
    span.vs vs
    .away-team
        h3= hasTeamName(awayTeam)
        p= awayTeam.points