mixin matchupModal(match)
    - const homeTeam = match[1];
    - const homeTeamStarting = homeTeam.startingRoster;
    - const homeTeamBench = homeTeam.benchRoster;
    - const homeTeamIR = homeTeam.reserveRoster;
    - const awayTeam = match[0];
    - const awayTeamStarting = awayTeam.startingRoster;
    - const awayTeamBench = awayTeam.benchRoster;
    - const awayTeamIR = awayTeam.reserveRoster;
    
    dialog.matchup-modal
        button Close
        section.matchups-dialog-wrapper
            article.matchup-card
                +matchupCardBody(match)
            div.rosters-wrapper
                .roster.home-team-players
                    include ./player-row.pug
                    if homeTeamStarting != null
                        h4 Starting
                        .player-wrapper
                            each player in homeTeamStarting
                                +playerRow(player)
                    if homeTeamBench != null
                        h4 Bench
                        .player-wrapper
                            each player in homeTeamBench
                                +playerRow(player)
                    if homeTeamIR != null
                        h4 Injured Reserve
                        .player-wrapper
                            each player in homeTeamIR
                                +playerRow(player)
                        
                .roster.away-team-players
                    if awayTeamStarting != null
                        h4 Starting
                        .player-wrapper
                            each player in awayTeamStarting
                                +playerRow(player)
                    if awayTeamBench != null
                        h4 Bench
                        .player-wrapper                       
                            each player in awayTeamBench
                                +playerRow(player)
                    if awayTeamIR != null
                        h4 Injured Reserve
                        .player-wrapper
                            each player in awayTeamIR
                                +playerRow(player)