include ./player-row.pug

mixin playerList(players, heading)
    if players != null && players.length
        if heading
            h4= heading
        .lineup-wrapper
            each player in players
                +playerRow(player)