@use '../variables' as *;
@use '../_base';
@use '../components/_navbar';
@use '../components/_nav-overlay';
@use '../components/_footer';

.page-header {
    margin-bottom: 5rem;

    h1 {
        text-align: center;
        margin: 0 auto;
        max-width: 15ch;
    }

}

.previous-season-outcome {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 6.25rem;

    @media only screen and (min-width: $sm-breakpoint-up) {
        gap: 2rem;
        flex-direction: row;
    }

    .winner,
    .loser {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $sm-breakpoint-up) {
            width: calc((100% - 2rem) / 2);
        }

        img {
            width: 13rem;
            height: 14.5rem;
        }

        .card-body {
            text-align: center;
            padding: 2rem 1rem;
            border: 1px solid;
            border-radius: 0.75rem;

            h2 {
                margin-block: 0 0.5rem;

                @media only screen and (min-width: $md-breakpoint-up) {
                    font-size: 2rem;
                }
            }

            p {
                margin: 0;
            }

            .btn {
                display: flex;
                margin: 2rem auto 0 auto;
            }
        }

    }

    .winner {
        .card-body {
            background: rgba($accent-emerald-dark, 0.1);
            border-color: $accent-emerald;
            box-shadow: 0 10px 30px rgba($win, 0.4);
        }
    }

    .loser {
        .card-body {
            background: rgba($loss, 0.1);
            border-color: $loss;
            box-shadow: 0 10px 30px rgba($loss, 0.4);
        }
    }
}

.matchups-cta {
    padding-block: 0 6.25rem;
}