extends ../layouts/base

block head
  title Page Not Found

block content
  main.error-page
    h1 404
    h2 Page Not Found
    p The page you're looking for doesn't exist or was moved.

    a(href="/") Go back home
