extends ../layouts/base

block content
    main
        header
            h1 Bleed Blue Fantasy Football
        section.matchups-container
            header
                h2 Season #{currentLeagueSeason} - Week #{currentWeek}
            if currentWeek < 15
                include ../partials/regular-season-matchups.pug

