extends ../layouts/base

block content
    main
        header
            h1 Season #{leagueState.season} - Week #{leagueState.displayWeek}
            .select-wrapper
                include ../partials/league-select.pug
                include ../partials/week-select.pug
        section#matchups-wrapper
            include ../partials/matchups-section.pug
