extends ../layouts/base

block content
    main
        section.matchups-container
            header
                h2 Season #{currentLeagueSeason} - Week #{currentWeek}
                .select-wrapper
                    include ../partials/league-select.pug
                    include ../partials/week-select.pug
            section#matchups-wrapper
                include ../partials/matchups-section.pug
