extends ../layouts/base

block head
    title Season #{leagueState.season} - Week #{leagueState.displayWeek}

block content
    h1 Season #{leagueState.season} - Week #{leagueState.displayWeek}

    // League select dropdown
    include ../partials/league-select.pug

    // Week select dropdown
    include ../partials/week-select.pug

    // Matchups table
    #matchups
        //- include ../partials/matchups-section.pug
