extends ../layouts/base
block head
    link(rel="stylesheet" href="/css/pages/rivalry.css")
    script(type="module" src="/js/rivalry.js")
block content
    main
        header.page-header.container
            h1 Rivalry
