@use '../_variables' as *;

dialog {
    width: auto;
    max-width: 62.5rem;
    background-color: rgba(5, 11, 30, 0.4);
    border: .125rem solid $border-strong;
    border-radius: .5rem;
    padding: 1rem;
    pointer-events: none;

    &[open] {
        pointer-events: auto;
    }

    &::backdrop {
        backdrop-filter: blur(0.5rem);
    }

    @media only screen and (min-width: $sm-breakpoint-up) {
        width: 90%;
        height: 90%;
    }

    * {
        cursor: default;
    }


    button {
        display: block;
        margin: 0 0 2rem auto;
        cursor: pointer;
    }

    h3,
    h4 {
        color: $text-primary;
    }

    h4 {
        font-size: 1.125rem;
    }

    .roster {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .player-list-section {
        .player-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}