@use '../variables' as *;

.site-footer {
    margin-block: 0;
    padding-block: 2.5rem;
    background-color: $bg-card;
    border-top: 1px solid $border-default;

    .footer-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media only screen and (min-width: $sm-breakpoint-up) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .brand {
            font-family: $font-heading;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            color: $text-primary;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: color $transition;

            &:hover {
                color: $blue-highlight;
            }
        }

        .footer-nav ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;

            @media only screen and (min-width: $sm-breakpoint-up) {
                flex-direction: row;
            }

            li a {
                font-size: 0.85rem;
                font-weight: $font-weight-medium;
                color: $text-muted;
                text-transform: uppercase;
                letter-spacing: 1px;

                &:hover {
                    color: $accent-gold;
                }
            }
        }
    }

    .footer-right {
        .external-heading {
            font-size: .625rem;
            font-weight: $font-weight-semibold;
            color: $text-disabled;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin-block: 0 .625rem;

            @media only screen and (min-width: $sm-breakpoint-up) {
                text-align: right;
            }
        }

        .external-links {
            display: flex;
            flex-direction: column;
            gap: .3125rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                @media only screen and (min-width: $sm-breakpoint-up) {
                    text-align: right;
                }
            }

            li a {
                font-size: 0.85rem;
                font-weight: $font-weight-medium;
                color: $text-muted;

                &:hover {
                    color: $accent-gold;
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid $border-default;
        text-align: center;

        p {
            font-size: 0.75rem;
            color: $text-disabled;
            margin: 0;
        }
    }
}