@use '../_variables' as *;

.matchup-card {
    background-color: rgba($bg-card, 1);
    color: $text-primary;
    border: 1px solid $border-default;
    border-radius: 0.5rem;
    box-shadow: $shadow-card;
    transition:
        background-color $transition,
        border-color $transition,
        box-shadow $transition;

    &:hover {
        background-color: rgba($bg-card, 0.7);
        border-color: $blue-primary;
        box-shadow: 0 4px 12px rgba($blue-highlight, 0.2);
    }

    .matchup-card-link {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem;
        color: inherit;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &:visited,
        &:active {
            color: inherit;
            text-decoration: none;
        }

        @media only screen and (min-width: $sm-breakpoint-up) {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
        }
    }

    section {
        display: flex;
        gap: 1rem;

        img {
            border-radius: 50%;
            height: 3.125rem;
            width: 3.125rem;
        }

        h3,
        p {
            margin-bottom: 0;
        }

        h3 {
            margin-block: 0 1rem;
        }

        &.winner {
            p {
                color: $win;
            }
        }

        &.loser {
            p {
                color: $loss;
            }
        }

        @media only screen and (min-width: $sm-breakpoint-up) {
            h3 {
                font-size: 1.25rem;
            }
        }
    }

    .away-team {
        @media only screen and (min-width: $sm-breakpoint-up) {
            justify-content: flex-end;

            img {
                order: 1;
            }

            h3,
            p {
                text-align: right;
            }
        }
    }

    span.vs {
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
    }

}