@use '../variables' as *;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $bg-card;
    border-bottom: 1px solid $border-default;
    height: 5rem;

    >.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .brand {
        font-family: $font-heading;
        font-size: rem(20);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $text-primary;
        letter-spacing: 2px;

        &:hover {
            color: $blue-highlight;
        }

        @media only screen and (min-width: $md-breakpoint-up) {
            font-size: rem(24);
        }
    }

    .nav-links {
        // visually hidden on mobile, shown on desktop
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        clip-path: inset(50%);
        white-space: nowrap;
        border: 0;
        list-style: none;

        @media only screen and (min-width: $md-breakpoint-up) {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
            clip-path: none;
            white-space: normal;
            display: flex;
            justify-content: flex-end;
            gap: rem(24);
        }

        .league-info {
            position: relative;

            #league-info-menu {
                position: absolute;
                // 100% = height of the nav link (1rem)
                // remaining space = (navbar height - link height) / 2 + border
                // = (5rem - 1rem) / 2 + 1px
                top: calc(100% + (5rem - 1rem) / 2 + 1px);
                padding: 1rem;
                flex-direction: column;
                gap: 1rem;
                background-color: $bg-card;
                opacity: 0;
                transition: opacity $transition, display $transition;
                transition-behavior: allow-discrete;

                &.hidden {
                    display: none;
                }

                &.open {
                    display: flex;
                    opacity: 1;

                    @starting-style {
                        opacity: 0;
                    }
                }
            }
        }

        .league-menu-toggle {
            all: unset;
            cursor: pointer;
            display: flex;
            gap: .3125rem;

            .menu-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 1rem;
                    width: 1rem;
                    fill: $text-secondary;
                    transition: fill $transition;
                }
            }

            &:hover {
                span:last-of-type {
                    svg {
                        fill: $accent-gold;
                    }
                }
            }
        }

        .nav-link,
        .league-info-link {
            font-size: rem(16);
            font-weight: $font-weight-medium;
            color: $text-secondary;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: color $transition;
            display: flex;
            height: 100%;
            align-items: center;

            &:hover {
                color: $accent-gold;
            }

            &.current-page {
                color: $blue-highlight;
            }
        }
    }

    .hamburger {
        height: rem(36);
        width: rem(36);
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;

        // visually hidden on desktop, only shown on mobile
        @media only screen and (min-width: $md-breakpoint-up) {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            clip-path: inset(50%);
            white-space: nowrap;
            border: 0;
        }

        span {
            display: block;
            position: absolute;
            left: rem(4);
            right: rem(4);
            height: 2px;
            background-color: $text-primary;
            transition: transform $transition, opacity $transition;

            &:first-of-type {
                top: rem(8);
            }

            &:nth-of-type(2) {
                top: rem(17);
            }

            &:nth-of-type(3) {
                top: rem(26);
            }
        }

        &.open span {
            &:first-of-type {
                transform: translateY(rem(9)) rotate(45deg);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                transform: translateY(rem(-9)) rotate(-45deg);
            }
        }
    }
}