@use '../_variables' as *;

.rosters-modal {
    h3 {
        font-size: 2rem;
        text-align: center;

        @media only screen and (min-width: $md-breakpoint-up) {
            font-size: 2.25rem;
        }
    }
}